{% extends "orders/layout.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
<nav>
	<a href="{% url 'index' %}">Home</a>
	<a href="{% url 'shoppingcart' %}">Cart</a>
	<a href="{% url 'logout' %}">Logout</a>
	<span id="user">{{ user.username }}</span>
</nav>
<h1>Artichoke Basielle Pizza's Menu</h1>

<form action="{% url 'addtocart' %}" method="post">
	{% csrf_token %}
	<h2>Pizzas</h2>
	<select name="pizza" class="input">
			<option value="0">---------</option>
		{% for pizza in pizzas %}
			<option value="{{ pizza.id }}">{{ pizza.pizza }} {{pizza.items}} Pizza</option>
		{% endfor %}
	</select>
	<select name="size" class="input">
		<option value="0">---------</option>
		<option value="Small">Small</option>
		<option value="Large">Large</option>
	</select>

	<!-- checkboxes -->
	<div class="checkbox">
	{% for topping in toppings %}
		<div id="checkbox"><input type="checkbox" value="{{ topping.id }}" name="toppings">{{ topping }}</div>
	{% endfor %}
	</div>

	<!-- subs -->
	<h2>Subs</h2>
	<select name="sub" class="input">
			<option value="0">---------</option>
		{% for sub in subs %}
			<option value="{{ sub.id }}">{{ sub.size }} {{ sub.kind }} Sub</option>
		{% endfor %}
	</select>

	<!-- pastas -->
	<h2>Pastas</h2>
	<select name="pasta" class="input">
			<option value="0">---------</option>
		{% for pasta in pastas %}
			<option value="{{ pasta.id }}">{{ pasta.name }}</option>
		{% endfor %}
	</select>


	<!-- salads -->
	<h2>Salads</h2>
	<select name="salad" class="input">
			<option value="0">---------</option>
		{% for salad in salads %}
			<option value="{{ salad.id }}">{{ salad.name }}</option>
		{% endfor %}
	</select>


	<!-- Dinner Platters -->
	<h2>Dinner Platters</h2>
	<select name="platter" class="input">
			<option value="0">---------</option>
		{% for platter in platters %}
			<option value="{{ platter.id }}">{{ platter.size }} {{ platter.name }} Platter</option>
		{% endfor %}
	</select>









	


	<input type="submit" value="Add to Cart" class="input">
</form>
<h3></h3>


<script>
	// Find the CSRF Token cookie value
	function parse_cookies() {
	    var cookies = {};
	    if (document.cookie && document.cookie !== '') {
	        document.cookie.split(';').forEach(function (c) {
	            var m = c.trim().match(/(\w+)=(.*)/);
	            if(m !== undefined) {
	                cookies[m[1]] = decodeURIComponent(m[2]);
	            }
	        });
	    }
	    return cookies;
	}
	var cookies = parse_cookies();

	var select = document.querySelectorAll('select');
	var type = select[0].value;
	var size = select[1].value;
	var sub = select[2].value;
	var pasta = select[3].value;
	var salad = select[4].value;
	var platter = select[5].value;
	const h3 = document.querySelector('h3');
	
	// update total price
	function update() {
		select = document.querySelectorAll('select');
		type = select[0].value;
		size = select[1].value;
		sub = select[2].value;
		pasta = select[3].value;
		salad = select[4].value;
		platter = select[5].value;
		// fetch toppings from checked boxes
		var t = document.getElementsByName('toppings');
		var arr = []
		for (var i = 0; i < t.length; i++) {
			if (t[i].checked)
				arr.push(t[i].value)
		}
		

		if ((type == 0 || size == 0) && sub == 0 && pasta ==0 && salad == 0 && platter == 0) { 
			h3.innerHTML = "";
			return;
		}

		const request = new XMLHttpRequest();
		request.open('POST','/ajax');
		request.setRequestHeader('X-CSRFToken', cookies['csrftoken']); 
		request.onload = function() {
			
			
			var price = request.responseText;
			h3.innerHTML = "Price: $" + price;

		};

		const data = new FormData();
		data.append('type', type);
		data.append('size', size);
		data.append('toppings', arr);
		data.append('subs', sub);
		data.append('pastas', pasta);
		data.append('salads', salad);
		data.append('platters', platter);
		data.append('token', "{% csrf_token %}")
		request.send(data);
	}

	document.addEventListener('DOMContentLoaded', function() {
		
		// configure typehead for price display
		document.querySelectorAll('select').forEach(function(element){
			element.addEventListener('change', update);
		});


		document.getElementsByName('toppings').forEach(function(element) {
			element.addEventListener('change', update);
		});



		// stop FORM from submitting if empty
		document.querySelector('form').onsubmit = function() {
			if ((type == 0 || size == 0) && sub == 0 && pasta ==0 && salad == 0 && platter == 0) { 
					return false;
				}
			return true;
		};





	});
</script>
{% endblock %}