{% extends "orders/layout.html" %}

{% block title %}
Register/Login
{% endblock %}

{% block body %}
<nav>
	<a href=" {% url 'index' %}">Home</a>
</nav>
<h1>Welcome to Artichoke Basielle Pizza</h1>

{% if message %}
<h3>{{ message }}</h3>
{% endif %}

<h2>Register</h2>
<form action="{% url 'register' %}" method="post">
	{% csrf_token %}
	<input autofocus type="text" name="user" class="input">
	<input type="password" name="pass" class="input">
	<input type="submit" value="Register" class="input">
</form>

<h2>Or Log In</h2>

<form action="{% url 'login' %}" method="post" >
	{% csrf_token %}
	<input type="text" name="user" class="input">
	<input type="password" name="pass" class="input">
	<input type="submit" value="Log In" class="input">
</form>



{% endblock %}